@import '../../../styles/scss/index.scss';


span, img {
  margin: 0;
  padding: 0;
}

@media(max-width: $desktop-l-width){
  .main-option-inline {
    margin: 0px;
  }
  .main-option-inline {
    h4 {
      display: inline;
      font-weight: 400;
      margin: 0px;
    }
    h4:hover {
      text-decoration: underline;
    }
  }
  .route-picked {
    color: $primary-color;
  }
  
}
@media(max-width: $desktop-m-width){}
@media(max-width: $desktop-s-width){}
@media(max-width: $tablet-width){}
@media(max-width: $mobile-width){

}