@import '../../styles/scss/index.scss';

@media(max-width: $desktop-l-width){
  .nav-container {
    width: 100%;
    height: 80px;
    background-color: white;
    display: flex;
  }
  .nav-container {
    .logo-size {
      width: 50px;
      align-self: center;
      padding: 0 20px 0 30px;
    }
    .logo-name {
      font: 600 28px Arial;
      // padding: 0 0 0 10px;
    }
    .nav-bar-left {
      align-self: center;
      padding: 0 0 0 60px;
      display: flex;
      justify-content: space-around;
    }
    .nav-bar-right {
      align-self: center;
      padding: 0 0 0 60px;
      display: flex;
      justify-content: space-around;
    }
    .nav-option {
      font: 600 16px Arial;
      margin: 0 40px 0 0;
    }
    .nav-current {
      color: $primary-color;
    }
  }
}
@media(max-width: $desktop-s-width){
  .nav-container {
    width: 100%;
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: center;
  }
  .nav-container {
    .logo-size {
      width: 40px;
      align-self: center;
      padding: 0 20px 0 30px;
    }
    .logo-name {
      font: 600 26px Arial;
    }
    .nav-bar-left {
      align-self: center;
      padding: 0 0 0 0px;
      display: flex;
      justify-content: flex-start;
    }
    .nav-bar-right {
      align-self: center;
      padding: 0 0 0 50px;
      display: flex;
      justify-content: flex-start;
    }
    .nav-option {
      font: 600 16px Arial;
      margin: 0 30px 0 0;
    }
    .nav-current {
      color: $primary-color;
    }
  }
}

@media(max-width: $tablet-width){
  .nav-container {
    width: 100%;
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: center;
  }
  .nav-container {
    .logo-size {
      width: 40px;
      align-self: center;
      padding: 0 20px 0 30px;
    }
    .logo-name {
      display: none;
      font: 600 26px Arial;
    }
    .nav-bar-left {
      width: 50vw;
      align-self: center;
      padding: 0 0 0 0px;
      display: flex;
      justify-content: flex-start;
    }
    .nav-bar-right {
      width: 50vw;
      align-self: center;
      padding: 0 0 0 20px;
      display: flex;
      justify-content: flex-end;
    }
    .nav-option {
      font: 600 16px Arial;
      margin: 0 30px 0 0;
    }
    .nav-current {
      color: $primary-color;
    }
  }
}
@media(max-width: $mobile-width){
  .nav-container {
    width: 100%;
    height: 80px;
    background-color: white;
    display: block;
  }
  .nav-container {
    .logo-size {
      width: 40px;
      align-self: center;
      padding: 0 20px 0 30px;
    }
    .logo-name {
      display: none;
      font: 600 26px Arial;
    }
    .nav-bar-left {
      width: 100vw;
      align-self: center;
      padding: 20px 0px;
      display: flex;
      justify-content: flex-start;
    }
    .nav-bar-right {
      width: calc(100vw - 20px);
      padding: 0 0 0 20px;
      display: flex;
      justify-content: space-around;
    }
    .nav-option {
      font: 600 16px Arial;
    }
    .nav-current {
      color: $primary-color;
    }
  }
}